*{
    margin: 0;
    padding: 0;
    background-color: rgb(12, 19, 33);
    /* background-color: aliceblue; */
}


.Alan img{

    position: absolute;
    right: 500px;
    top: 0px;
}

#container{

    background-color: rgb(17, 23, 39);
    height: 100vh;
    width: 50vh;
    position: relative;
}

#container h1{

    color: azure;
    position: absolute;
    top: 80px;
    left: 80px;
    font-size: 100px;
    font-family: 'Poppins', sans-serif;
}

